body {
    /* background: url(images/book.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.h4 {
    background-color: black;
    color: rgb(212, 0, 255);
    padding: 5px;
    border-radius: 2px;
}

.subject-name {
    text-align: center !important;
    background-color: orange;
    color: white;
    border: none;
    width: 500px;
    padding: 5px 0px;
}

input[type=number] {
    background-color: rgba(5, 197, 245, 0.582);
    /* background-color: transparent; */
    color: rgb(255, 255, 255);
    border: none;
}

.final {
    color: rgb(34, 248, 6);
    font-size: 25px;
}